body{
    background-color: lavender;
}

.one{
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.one a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: auto;
}
.cats{
    height: 80px;
    margin: 20px;
    float: left;

}
.two{
    display: inline-block;
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-right: 40px;
}
.neko{
    background: lightpink;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 2px 2px 2px grey;
}
.nekoimg{
    height: 260px;
    width:auto;
    object-fit: cover;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 6px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkred;
    font-size: 25px;
    text-align: left;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: black;
    text-align: left;
    margin: 0;
}
button{
    background-color: palevioletred;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}