body{
    background-color: lavender;
}

.one{
    margin: 0;
    padding: 0;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.one a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: auto;
}